  <div id="content" class="container">
    <header id="header">
      <h1>
        {{ title }}!
      </h1>
    </header>
    <nav id="nav">
      <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="activado" >Home</a></li>
        <li><a [routerLink]="['/productos']" routerLinkActive="activado">Productos</a></li>
        <li><a [routerLink]="['/producto-add']" routerLinkActive="activado" >Crear Productos</a></li>
        <div style="clear:both"></div>
      </ul>
    </nav>

    <section id="main">
      <!--Componente actual-->
    <router-outlet></router-outlet>
    </section>

    <footer id="footer">
      <p>Curso de angular 4</p>
    </footer>
  </div>
  
