<h2>{{titulo}}</h2>
<hr>
<div *ngIf="!productos">Cargando...</div>
<div *ngIf="productos">

    <div class="row">
            <div class="col-3" *ngFor="let producto of productos">
                <div class="card mb-3">
                    <div *ngIf="producto.imagen">
                        <img class="producto_imagen" src="http://localhost/curso-angular4-backend/uploads/{{producto.imagen}}">
                    </div>
                    <div *ngIf="!producto.imagen">
                        <div class="imagen_relleno"></div>
                    </div>
                    <div class="caption"></div>
                        <h3>{{producto.nombre}}</h3>
                        <p>{{producto.precio}} S.</p>
                        <p *ngIf="confirmado!=producto.id">
                            <a [routerLink]="['/producto-detail',producto.id]" class="btn btn-primary">ver</a>
                            <a [routerLink]="['/producto-editar',producto.id]" class="btn btn-warning">Editar</a>
                            <a (click)="deleteConfirm(producto.id)" class="btn btn-danger">Borrar</a>
                        </p>
                            <div class="seguro" *ngIf="confirmado == producto.id">
                            <p>
                                ¿estas seguro de querer borrar este proucto?
                            </p>
                            <a (click)="onDeleteproducto(producto.id)" class="btn btn-danger">Eliminar</a>
                            <a (click)="cancelarConfirm(producto.id)" class="btn btn-warning">Cancelar</a>
                        </div>
                       
                </div>                 
            </div>
    </div>
 
</div>